<div>
  <button mat-button routerLink="" routerLinkActive="active"><mat-icon>home</mat-icon>Home</button>
  <button mat-button routerLink="posts" routerLinkActive="active"><mat-icon>article</mat-icon>Posts</button>
  <button mat-button routerLink="admin" routerLinkActive="active"><mat-icon>admin_panel_settings</mat-icon>Admin</button>
  <div fxFlex></div>
  <button mat-button routerLink="login" *ngIf="!isUserAuthenticated"><mat-icon>login</mat-icon>Login</button>
  <button mat-button (click)="onLogout()" *ngIf="isUserAuthenticated"><mat-icon>logout</mat-icon>Logout</button>

</div>
<router-outlet></router-outlet>
